[package]
edition = "2021"
name = "pilatus-engineering"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
approx = "0.5"
futures = "0.3"
pilatus = { path = "../pilatus", features = ["subscribe"] }
seahash = "4.1"
sealedstruct = { git = "https://github.com/mineichen/sealedstruct.git", branch = "main", features = [
  "serde",
] }
serde = { version = "1", features = ["derive"] }
thiserror = "1"
tracing = "0.1"

image = { version = "0.25", optional = true }
minfac = { version = "0.0.1", optional = true }
nalgebra = { version = "0.33", optional = true }
pilatus-rt = { path = "../pilatus-rt", optional = true }                       # Must remain an internal dependency
resvg = { version = "0.43.0", optional = true }
tokio = { version = "^1.0.0", features = ["sync"], optional = true }
tokio-stream = { version = "0.1", features = ["fs", "sync"], optional = true }

[dev-dependencies]
nalgebra = "0.33"
serde_json = "1"
pilatus-rt = { path = "../pilatus-rt", features = ["unstable"] }


[features]
default = ["image-algorithm"]
tokio = ["dep:tokio", "tokio-stream"]
image-algorithm = ["image", "minfac", "resvg"]
unstable = ["pilatus-rt/unstable"]
