name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - uses: DeterminateSystems/nix-installer-action@main
      
      - uses: actions/cache@v4
        with:
          path: /nix/store
          key: ${{ runner.os }}-nix-store-${{ hashFiles('flake.lock') }}
          restore-keys: |
            ${{ runner.os }}-nix-store-
      
      - name: Test with minimal features
        run: nix run .#test
      
      - name: Test with all features
        run: nix run .#test-all-features

  test_miri:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - uses: DeterminateSystems/nix-installer-action@main
      
      - uses: actions/cache@v4
        with:
          path: /nix/store
          key: ${{ runner.os }}-nix-store-${{ hashFiles('flake.lock') }}
          restore-keys: |
            ${{ runner.os }}-nix-store-
      
      - name: Run Miri tests
        run: nix run .#miri-test

  build-book:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      
      - uses: DeterminateSystems/nix-installer-action@main
      
      - uses: actions/cache@v4
        with:
          path: /nix/store
          key: ${{ runner.os }}-nix-store-${{ hashFiles('flake.lock') }}
          restore-keys: |
            ${{ runner.os }}-nix-store-
      
      - name: Build book
        run: nix run .#build-book
      
      - name: Setup Pages
        uses: actions/configure-pages@v4
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/book
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
